TO_DO.txt
goonstation.dmb
png_icons
tgstation.dmb
tgstation.dyn.rsc
tgstation.int
tgstation.lk
tgstation.rsc
tgstation.rsc.lk
*.lk
*.patch
*.bak
/data/logs
/config/forumdbconfig.txt
/config/game_options.txt
/config/jobs.txt
/config/motd.txt
/config/rules.html
/config/access levels.txt
/config/admin_ranks.txt
/config/admins.txt
/config/config.txt
/config/dbconfig.txt
